* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../images/watercolor-bright.jpg");
    background-size: cover;
    color: #333; 
}

.container {
	max-width: 960px;
    height: 100vh;
    margin: 0 auto;
    padding: 3rem;
}

#search-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#search-by-name {
    width: 100%;
}

#name-search,
#date-search,
.country-selection {
    background-color: #d9f1e3;
    padding: 6px;
    border-radius: 20px;
    margin-top: 3rem;

    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.country-selection {
    display: flex;
}

#name-search.show,
#date-search.show {
    display: flex;
}

#all-button {
    font-size: 4rem;
    color: #00ad5f;
    background-color: #d9f1e3;
    margin-top: 4rem;
    padding: 1.5rem;
    border-radius: 100%;
}

button, input[type="color"], input[type="reset"], input[type="button"], input[type="submit"] {
    border: none;
    background-color: none;
}

#result-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.result {
    background-color: #d9f1e3;
    text-align: center;
    border-radius: 30px;
    padding: 2rem 0.5rem;
}






