@import url('https://fonts.googleapis.com/css?family=Lato:300|Roboto:300&display=swap');

:root {
    --background-green: #d9f1e3;
    --accent-green: #00ad5f; 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../images/watercolor-bright.jpg");
    background-size: cover;
    color: #333;
    font-family: 'Roboto', sans-serif;
}

.container {
	max-width: 960px;
    height: 100vh;
    margin: 0 auto;
    padding: 3rem;
}

h1 {
    font-family: 'Lato', sans-serif; 
    color: #FFFF00;
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    font-weight: 900;
    text-shadow: 3px 3px 3px #666;
    margin: 1rem 0;
}

h2 {
    color: var(--accent-green);
    font-weight: bold;
}

#search-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-by-name {
    width: 100%;
}

.name-search,
.date-search,
.country-timezone{
    background-color: var(--background-green);
    padding: 6px;
    border-radius: 20px;
    margin-top: 2rem;

    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.country-timezone {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 5px;
}

.todays {
    text-align: center;
    color: white;
    font-style: italic;
    font-weight: bold;
}

.todays p {
    margin-top: 1rem;
}

.name-search.show,
.date-search.show {
    display: flex;
}

#all-button {
    font-size: 2rem;
    color: var(--accent-green);
    background-color: var(--background-green);
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 100%;
}

#all-button:hover {
    color: green;
}

button, input[type="color"], input[type="reset"], input[type="button"], input[type="submit"] {
    border: none;
    background-color: none;
}

button#cake-button {
    width: 15%;
    background: none;
}

button#cake-button:hover {
    width: 16%;
}

button img.cake-button {
    width: 100%;
}

.form-check {
    margin-top: 1rem;
    background-color: var(--background-green);
    padding: 0.4rem;
}

#result-wrapper {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}

.result {
    background-color: var(--background-green);
    text-align: center;
    box-shadow: 3px 3px 3px #555;
    border-radius: 30px;
    padding: 2rem 1.3rem;
}

.cake {
    width: 50%;
}


/* Responsive layout styles */

/* Tablet */

@media only screen and (min-width: 768px) {
    h1 {
        font-size: 3.5rem;
    }

    .todays p {
        font-size: 1.2rem;
    }
    
    #all-button {
        font-size: 3rem;
        padding: 1.2rem;
    }
    
    #result-wrapper {
        margin-bottom: 4rem;
    }
}

/* Desktop */

@media only screen and (min-width: 992px) {
    h1 {
        font-size: 4rem;
    }
    
    #all-button {
        font-size: 4rem;
        padding: 1.5rem;
    }
    
    #result-wrapper {
        margin-bottom: 5rem;
    }
} 




